<% include common/header.ejs %>
    <div class="content">
        <div>
            <h1 class="title">305호 실습실 / 컴퓨터 35</h1>
            <button class="button">제보하기</button>
        </div>
        <div>
            <% for(let i=0; i<5; i++) { %>
                <div class="columns">
                    <div class="column">
                        <div class="columns">
                            <h3 class="column">Visual Studio 2015 실행이 안돼요ㅜㅜ(제목)</h3>
                            <span class="tag is-danger">실행 오류</span>
                        </div>

                        <p>실행하면 블루스크린 뜹니다ㅜㅜ(내용)</p>
                        <% for(let tag=0; tag<3; tag++) { %>
                            <span class="tag is-light">#윈도우..</span>
                        <% } %>
                    </div>
                    <div class="column">
                        <p>작성자 이름</p>
                        <p>작성 날짜</p>
                    </div>
                </div>
            <% } %>
        </div>
    </div>

<% include common/footer.ejs %>

