<% include common/header.ejs %>

<div class="container">
    <br><br>
    <h1 class="title is-2">305호 실습실</h1>
    <br>

    <div class="columns">
        <div class="column " style="background: gray;min-height: 600px;"></div>
    </div>
    <br>
    <br>

    <h1 class="title is-3">최근 제보</h1>
    <br>
    <%
    for (var i = 0; i < 10; i++) {
    %>
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <article class="tile has-text-centered is-child notification is-primary"
                             style="padding: 18px">
                        <p class="title ">35</p>
                    </article>
                </div>
                <div class="level-item" style="">
                    <div style="height: 100%">
                        <p class="title is-4" style="margin-top: -18px;margin-bottom: 4px;">Visual Studio 2015
                            실행
                            안되요</p>
                        <p class="subtitle is-6" style="margin:0;">실행하면 블루스크린 뜹니다 ㅜ,ㅜ</p>
                    </div>
                </div>
            </div>

        </div>
        <hr>
    <%
    }
    %>
</div>
<br>
<br>
<br>
<br>
<br>

<script>

</script>
<% include common/footer.ejs %>