<% include common/header.ejs %>
<script src="/javascripts/seatchart.js"></script>
<div class="container">
    <br>
    <h1 class="title is-2"><%= lab.name %></h1>
    <br>

    <div class="columns">
        <div class="column" id="seat-chart" style="min-height: 600px;"></div>


    </div>
    <br>
    <br>

    <h1 class="title is-3">최근 제보</h1>
    <!--    TODO 최근 제보 구하기-->
    <br>
    <%
    for (var i = 0; i < 10; i++) {
    %>
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <article class="tile has-text-centered is-child notification is-primary"
                             style="padding: 18px">
                        <p class="title ">35</p>
                    </article>
                </div>
                <div class="level-item" style="">
                    <div style="height: 100%">
                        <p class="title is-4" style="margin-top: -18px;margin-bottom: 4px;">Visual Studio 2015
                            실행
                            안되요</p>
                        <p class="subtitle is-6" style="margin:0;">실행하면 블루스크린 뜹니다 ㅜ,ㅜ</p>
                    </div>
                </div>
            </div>

        </div>
        <hr>
    <%
    }
    %>
</div>
<br>
<br>
<br>
<br>
<br>

<script>

    $(document).ready(function () {
        /* $('#seat-chart').resize(function () {
             stage.width($('#seat-chart').width());
             stage.height($('#seat-chart').height());
         });*/
        initKonva();
        setBorder();
        setContextMenu();
        <%
        for (let i = 0; i < lab.computers.length; i++) {
            const com = lab.computers[i];
            console.log(com);
        %>
        addComputer(JSON.parse('<%- JSON.stringify(com) %>'));
        <%
        }
        %>
        for (let i = 1; i < 5; i++) {
            addComputer({name: `${i}`, location: {X: i * 60, Y: 20, W: 50, H: 50}});
        }
        layer.draw();
    });
</script>
<% include common/footer.ejs %>