<% include common/header.ejs %>
<script src="/javascripts/seatchart.js"></script>
<div class="container">
    <br>
    <h1 class="title is-2"><%= lab.name %></h1>
    <br>

    <div class="columns">
        <div class="column" id="seat-chart" style="min-height: 600px;"></div>
    </div>
    <br>
    <br>
</div>
<br>
<br>
<br>

<script>

    $(document).ready(function () {
        /* $('#seat-chart').resize(function () {
             stage.width($('#seat-chart').width());
             stage.height($('#seat-chart').height());
         });*/
        initKonva();
        setBorder();
        setContextMenu();
        <%
        for (let i = 0; i < lab.computers.length; i++) {
            const com = lab.computers[i];
            console.log(com);
        %>
        addComputer(JSON.parse('<%- JSON.stringify({
            _id: com._id,
            name: com.name,
            location: com.location,
            property: com.property
        }) %>'));
        <%
        }
        %>
        /* for (let i = 1; i < 5; i++) {
             addComputer({name: `${i}`, location: {X: i * 60, Y: 20, W: 50, H: 50}});
         }*/
        layer.draw();
    });
</script>
<% include common/footer.ejs %>