<% include common/header.ejs %>
<br>
<br>

<div class="container">
    <div class="level">
        <div class="level-left">
            <h1 class="level-item title is-2">35 컴퓨터</h1>
        </div>
    </div>
    <div class="box">
        <div class="level" style="margin-bottom: 14px;">
            <div class="level-left">
                <div class="level-item ">
                    <span class=" tag is-danger title is-6" id="computer_status">실행 오류</span>
                    <h3 class="title is-4" id="title" style="margin: 0 0 0 14px;">Visual Studio 2015 실행이 안돼요ㅜㅜ</h3>
                </div>
            </div>
            <div class="level-right" id="person">
                <span class="subtitle is-6">wjdtmddnr24</span>
            </div>
        </div>
        <div class="subtitle is-6" id="contents">
            <p>실행하면 블루스크린 뜹니다ㅜㅜ(내용) 빨리 좀 고쳐달라...</p>
        </div>
        <div class="level">
            <div class="level-left">
                <div>
                    <div class="level-item tag is-light subtitle is-6" style="margin-bottom:0">#고컴수</div>
                    <div class="level-item tag is-light subtitle is-6" style="margin-bottom:0">#윈도우 프로그래밍</div>
                    <div class="level-item tag is-light subtitle is-6" style="margin-bottom:0">#Visual Studio 2015</div>
                </div>
            </div>
            <div class="level-right" id="time">
                <span class="level-item subtitle is-6">2일전 제보</span>
            </div>
        </div>
    </div>
    <hr><br>

    <div class="box">
        <div class="level" style="margin-bottom: 14px;">
            <div class="level-left">
                <div class="level-item ">
                    <h3 class="title is-4" id="title" style="margin: 0 0 0 14px;">Visual Studio 2015 실행이 안돼요ㅜㅜ</h3>
                </div>
            </div>
            <div class="level-right" id="person">
                <span class="subtitle is-6">wjdtmddnr24</span>
            </div>
        </div>
        <div class="subtitle is-6" id="contents">
            <p>실행하면 블루스크린 뜹니다ㅜㅜ(내용) 빨리 좀 고쳐달라...</p>
        </div>
        <div class="level">
            <div class="level-left">
                <div>
                    <div class="level-item tag is-light subtitle is-6" style="margin-bottom:0">#고컴수</div>
                    <div class="level-item tag is-light subtitle is-6" style="margin-bottom:0">#윈도우 프로그래밍</div>
                    <div class="level-item tag is-light subtitle is-6" style="margin-bottom:0">#Visual Studio 2015</div>
                </div>
            </div>
            <div class="level-right" id="time">
                <span class="level-item subtitle is-6">2일전 제보</span>
            </div>
        </div>
    </div>

    <div class="box">
        <div class="level" style="margin-bottom: 14px;">
            <div class="level-left">
                <div class="level-item ">
                    <h3 class="title is-4" id="title" style="margin: 0 0 0 14px;">Visual Studio 2015 실행이 안돼요ㅜㅜ</h3>
                </div>
            </div>
            <div class="level-right" id="person">
                <span class="subtitle is-6">wjdtmddnr24</span>
            </div>
        </div>
        <div class="subtitle is-6" id="contents">
            <p>실행하면 블루스크린 뜹니다ㅜㅜ(내용) 빨리 좀 고쳐달라...</p>
        </div>
        <div class="level">
            <div class="level-left">
                <div>
                    <div class="level-item tag is-light subtitle is-6" style="margin-bottom:0">#고컴수</div>
                    <div class="level-item tag is-light subtitle is-6" style="margin-bottom:0">#윈도우 프로그래밍</div>
                    <div class="level-item tag is-light subtitle is-6" style="margin-bottom:0">#Visual Studio 2015</div>
                </div>
            </div>
            <div class="level-right" id="time">
                <span class="level-item subtitle is-6">2일전 제보</span>
            </div>
        </div>
    </div>

    <div class="box">
        <div class="field is-horizontal">
            <div class="field-label">
                <label class="label">제목</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input" type="text" placeholder="title">
                    </div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label">
                <label class="label">내용</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <textarea class="textarea" placeholder="comments"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div class="field is-grouped is-grouped-right">
            <p class="control">
                <a class="button is-primary">
                        댓글달기
                </a>
            </p>
        </div>
    </div>
</div>

<% include common/footer.ejs %>