<% include common/header.ejs %>
<br>
<br>

<div class="column is-mobile">
    <div class="column"></div>
    <div class="column is-three-fifths container">
        <div class="level">
            <div class="level-left">
                <h1 class="level-item title is-2">35 컴퓨터</h1>
            </div>
        </div>
        <div class="box">
            <div class="level" style="margin-bottom: 14px;">
                <div class="level-left">
                    <div class="level-item ">
                        <span class=" tag is-danger title is-6" id="computer_status">실행 오류</span>
                        <h3 class="title is-4" id="title" style="margin: 0 0 0 14px;">Visual Studio 2015 실행이 안돼요ㅜㅜ</h3>
                    </div>
                </div>
                <div class="level-right" id="time">
                    <span class="level-item subtitle is-6">2일전 제보</span>
                </div>
            </div>
            <div class="subtitle is-6" id="contents">
                <p>실행하면 블루스크린 뜹니다ㅜㅜ(내용) 빨리 좀 고쳐달라...</p>
            </div>
            <div class="level">
                <div class="level-left">
                    <div>
                        <div class="level-item tag is-light subtitle is-6" style="margin-bottom:0">#고컴수</div>
                        <div class="level-item tag is-light subtitle is-6" style="margin-bottom:0">#윈도우 프로그래밍</div>
                        <div class="level-item tag is-light subtitle is-6" style="margin-bottom:0">#Visual Studio 2015</div>
                    </div>
                </div>
                <div class="level-right" id="person">
                    <span class="subtitle is-6">wjdtmddnr24</span>
                </div>
            </div>
        </div>
        <hr><br><br><br>
        <% for(let i=0;i<5;i++) {%>
            <div class="box">
                <div class="level" style="margin-bottom: 30x;">
                    <div class="level-left">
                        <div class="level-item ">
                            <h3 class="title is-4" id="title" style="margin: 0 0 0 14px;">Visual Studio 2015 실행이 안돼요ㅜㅜ</h3>
                        </div>
                    </div>
                    <div class="level-right">
                        <span class="icon">
                            <i class="fas fa-ellipsis-v"></i>
                        </span>

                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <div class="subtitle is-6" id="contents">
                            <p>실행하면 블루스크린 뜹니다ㅜㅜ(내용) 빨리 좀 고쳐달라...
                                Contrary to popular belief, Lorem Ipsum is not simply random text. I
                                t has roots in a piece of classical Latin literature from 45 BC,
                                making it over 2000 years old. Richard McClintock, a Latin professor at
                                Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words,
                                onsectetur, from a Lorem Ipsum passage, and going through the cites of the word in cl
                                assical literature, discovered the undoubtable source. Lorem Ipsum comes from sections
                                1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by
                                Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular d
                                uring the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", come
                                s from a line in section 1.10.32.
                                The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those in
                                terested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Ci
                                cero are also reproduced in their exact original form, accompanied by English versions
                                from the 1914 translation by H. Rackham.
                            </p>
                        </div>
                    </div>
                    <div class="column is-narrow">
                        <div class="tile is-vertical is-parent">
                            <div class="tile is-child">
                                <div id="time" class="is-4" style="margin-bottom: 100px">
                                    <span class="subtitle is-6">2일전 제보</span>
                                </div>
                            </div>
                            <div class="tile is-child">
                                <div id="person">
                                    <span class="is-6">wjdtmddnr24</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br><br><br>
        <% } %>
        <br>
        <hr>
        <div class="box">
            <div class="field">
                <div class="field is-horizontal">
                        <div class="field-label">
                            <label class="label">제목</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control is-expanded">
                                    <input class="input" type="text" placeholder="title">
                                </div>
                            </div>
                        </div>
                </div>
                <div class="field is-horizontal">
                        <div class="field-label">
                            <label class="label">내용</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control is-expanded">
                                    <textarea class="textarea" placeholder="comments"></textarea>
                                </div>
                            </div>
                        </div>

                </div>
            </div>
            <br>
            <div class="field is-grouped is-grouped-right">
                <p class="control">
                    <a class="button is-primary">
                        댓글달기
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="column"></div>
</div>


<br>
<br>
<% include common/footer.ejs %>