<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Rollover</strong> by <a href="">정승욱</a><a href=""> 조혜은</a><a href=""> 김예리</a><a href=""> 류정민</a><a href=""> 서지혜</a>. The source code is licensed
            <a href="">Rollover</a>. The website content
            is licensed <a href="">Rollover</a>.
        </p>
    </div>
</footer>

</body>
<div id="background-menu" style="position: absolute;display: none;">
    <div class="box" style="padding: 0">
        <ul class="menu-list">
            <li><a href="javascript:addComputer()">컴퓨터 추가</a></li>
            <li><a href="javascript:addComputers()">컴퓨터 일괄 추가</a></li>
        </ul>
    </div>
</div>
<div id="computer-menu" style="position: absolute;display: none;">
    <div class="box" style="padding: 0">
        <ul class="menu-list">
            <li><a href="javascript:renameComputer()">이름 바꾸기</a></li>
            <li><a href="javascript:resizeComputer()">크기 바꾸기</a></li>
            <li><a href="javascript:deleteComputer()">삭제</a></li>
        </ul>
    </div>
</div>
</html>