<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
            is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </p>
    </div>
</footer>

</body>
<div id="background-menu" style="position: absolute;display: none;">
    <div class="box" style="padding: 0">
        <ul class="menu-list">
            <li><a href="javascript:addComputer()">컴퓨터 추가</a></li>
            <li><a href="javascript:addComputers()">컴퓨터 일괄 추가</a></li>
        </ul>
    </div>
</div>
<div id="computer-menu" style="position: absolute;display: none;">
    <div class="box" style="padding: 0">
        <ul class="menu-list">
            <li><a href="javascript:renameComputer()">이름 바꾸기</a></li>
            <li><a href="javascript:resizeComputer()">크기 바꾸기</a></li>
            <li><a href="javascript:deleteComputer()">삭제</a></li>
        </ul>
    </div>
</div>
</html>