<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>이거 잘 굴러가요! - RollOver</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script src="https://unpkg.com/konva@4.0.0/konva.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <style>
        .content-icon {
            display: contents;
        }
    </style>
</head>
<body>
<% include modal.ejs %>
<%
console.log(flash);
if (flash.error && flash.error.length > 0) { %>
    <script>
        alert('<%= flash.error[0] %>');
    </script>
<%
}
%>
<nav class="navbar has-shadow is-spaced" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
            </div>

            <div class="navbar-end">
                <div class="navbar-item">

                    <%
                    if(!user){
                    %>
                        <div class="buttons">
                            <a class="button is-primary" id="signup">
                                <strong>Sign up</strong>
                            </a>
                            <a class="button is-light" id="login">
                                Log in
                            </a>
                        </div>
                    <% } else{ %>
                        <a class="" id="login" style="color: black;">
                            <p class="title is-5">
                                Wellcome <%= user.id %></p>
                        </a>&nbsp;&nbsp;
                        <a class="button is-primary" href="/logout" id="login">
                            로그아웃
                        </a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <nav class="breadcrumb is-medium" aria-label="breadcrumbs" style="margin-top: 2em; margin-bottom: 1.5em;">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Laboratory</a></li>
            <li><a href="#">Computer</a></li>
            <li class="is-active"><a href="#" aria-current="page">Report</a></li>
        </ul>
    </nav>
</div>



