<div id="login-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content" style="width: 500px;">
        <div class="box" style=";">
            <br>
            <h1 class="title is-1 has-text-centered">로그인</h1>
            <br>
            <form id="login-form" action="/login" method="post">
                <div class="container" style="padding-left: 15px;padding-right: 15px;">
                    <div class="field">
                        <label class="label">아이디</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input " type="text" name="username" placeholder="Text input">
                            <span class="icon is-small is-left">
                          <i class="fas fa-user"></i>
                    </span>
                            <span class="icon is-small is-right">
                          <i class="fas fa-check"></i>
                    </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">비밀번호</label>

                        <p class="control has-icons-left">
                            <input class="input" type="password" name="password" placeholder="Password">
                            <span class="icon is-small is-left">
                              <i class="fas fa-lock"></i>
                        </span>
                        </p>
                    </div>
                    <br>
                    <div class="field is-grouped is-grouped-centered">
                        <p class="control">
                            <a class="button is-primary" href="javascript:LogIn()">
                                로그인
                            </a>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>

<div id="signup-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content" style="width: 750px;">
        <div class="box" style=";">
            <br>
            <h1 class="title is-1 has-text-centered">회원가입</h1>
            <br>
            <form id="signup-form" method="post" action="/signup" autocomplete="off">
                <div class="container" style="padding-left: 15px;padding-right: 15px;">
                    <div class="columns">
                        <div class="column is-6">
                            <div class="field">
                                <label class="label">아이디</label>
                                <div class="control has-icons-left has-icons-right">
                                    <input class="input" type="text" name="id" placeholder="Text input">
                                    <span class="icon is-small is-left">
                          <i class="fas fa-user"></i>
                    </span>
                                    <span class="icon is-small is-right">
                          <i class="fas fa-check"></i>
                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="field">
                                <label class="label">이름</label>
                                <div class="control has-icons-left has-icons-right">
                                    <input class="input" type="text" name="name" placeholder="Text input">
                                    <span class="icon is-small is-left">
                          <i class="fas fa-user"></i>
                    </span>
                                    <span class="icon is-small is-right">
                          <i class="fas fa-check"></i>
                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field">
                                <label class="label">이메일</label>
                                <div class="control has-icons-left has-icons-right">
                                    <input class="input" type="text" name="email" placeholder="Text input">
                                    <span class="icon is-small is-left">
                          <i class="fas fa-user"></i>
                    </span>
                                    <span class="icon is-small is-right">
                          <i class="fas fa-check"></i>
                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="columns">
                        <div class="column">
                            <div class="field">
                                <label class="label">비밀번호 </label>

                                <p class="control has-icons-left">
                                    <input class="input" type="password" name="password" id="signup-pw"
                                           placeholder="Password">
                                    <span class="icon is-small is-left">
                              <i class="fas fa-lock"></i>
                        </span>
                                </p>
                            </div>

                        </div>
                        <div class="column">
                            <div class="field">
                                <label class="label">비밀번호 확인</label>

                                <p class="control has-icons-left">
                                    <input class="input" type="password" name="pw2" id="signup-pw2"
                                           placeholder="Password">
                                    <span class="icon is-small is-left">
                              <i class="fas fa-lock"></i>
                        </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="field is-grouped is-grouped-centered">
                        <p class="control">
                            <a class="button is-primary" href="javascript:SignUp();">
                                회원가입
                            </a>
                        </p>
                    </div>


                </div>
            </form>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>


<div id="report-modal" class="modal ">
    <div class="modal-background"></div>
    <div class="modal-content" style="width: 820px;">
        <div class="box" style="">
            <br>
            <h1 class="title is-1 has-text-centered">제보하기</h1>
            <br>
            <div class="container" style="padding-left: 15px;padding-right: 15px;">
                <div class="columns">
                    <div class="column is-6">
                        <div class="field">
                            <label class="label">아이디</label>
                            <div class="control has-icons-left has-icons-right">
                                <input class="input is-success" type="text" placeholder="Text input">
                                <span class="icon is-small is-left">
                          <i class="fas fa-user"></i>
                    </span>
                                <span class="icon is-small is-right">
                          <i class="fas fa-check"></i>
                    </span>
                            </div>
                            <p class="help is-success">This username is available</p>
                        </div>
                    </div>

                </div>
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="label">태그</label>
                            <div class="control ">
                                <input class="input is-success" type="text" placeholder="Text input">
                            </div>
                            <p class="help is-success">This username is available</p>
                        </div>
                    </div>
                </div>

                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="label">내용</label>
                            <div class="control">
                                <textarea class="textarea has-fixed-size" rows="10"
                                          placeholder="Fixed size textarea"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="field is-grouped is-grouped-centered">

                    <p class="control">
                        <a class="button is-primary">
                            제보하기
                        </a>
                    </p>
                </div>


            </div>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
<div id="laboratory-modal" class="modal ">
    <div class="modal-background"></div>
    <div class="modal-content" style="width: 820px;">
        <div class="box" style="">
            <br>
            <h1 class="title is-1 has-text-centered">실습실 추가하기</h1>
            <br>
            <div class="container" style="padding-left: 15px;padding-right: 15px;">
                <div class="columns">
                    <div class="column is-6">
                        <div class="field">
                            <label class="label">실습실 이름</label>
                            <div class="control has-icons-left has-icons-right">
                                <input class="input is-success" type="text" placeholder="Text input">
                                <span class="icon is-small is-left">
                          <i class="fas fa-desktop"></i>
                    </span>
                                <span class="icon is-small is-right">
                          <i class="fas fa-check"></i>
                    </span>
                            </div>
                            <p class="help is-success">This username is available</p>
                        </div>
                    </div>

                    <div class="column is-6">
                        <label class="label">실습실 사진</label>
                        <div class="file has-name is-right">
                            <label class="file-label">
                                <input class="file-input" type="file" name="resume">
                                <span class="file-cta">
                                      <span class="file-icon">
                                        <i class="fas fa-upload"></i>
                                      </span>
                                      <span class="file-label">
                                        Choose a file…
                                      </span>
                                    </span>
                                <span class="file-name">
                                      Screen Shot 2017-07-29 at 15.54.25.png
                                    </span>
                            </label>
                        </div>
                    </div>

                </div>

                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="label">실습실 장소</label>
                            <div class="control">
                                <textarea class="textarea has-fixed-size" rows="10"
                                          placeholder="Fixed size textarea"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="field is-grouped is-grouped-centered">

                    <p class="control">
                        <a class="button is-primary">
                            추가하기
                        </a>
                    </p>
                </div>


            </div>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>

<script>
    $(document).ready(function () {
        $('.modal-background,.modal-close').click(function () {
            $('.modal').removeClass('is-active');
        });
        $('#login').click(function () {
            console.log('a');
            $('#login-modal').addClass('is-active');
        });
        $('#signup').click(function () {
            $('#signup-modal').addClass('is-active');
        });
        $('#report-computer').click(function () {
            $('#report-modal').addClass('is-active');
        });
        $('#add-laboratory').click(function () {
            $('#laboratory-modal').addClass('is-active');
        });
    });

    function SignUp() {
        if ($('#signup-pw').val() !== $('#signup-pw2').val()) {
            alert('패스워드가 일치하지 않습니다.');
            return;
        }
        if ($('#signup-pw').val().length == 0) {
            alert('패스워드가 유효하지 않습니다.');
            return;
        }
        // TODO 유효한 내용인지 확인
        // $('#signup-form').submit();
        jQuery.ajax({
            url: '/signup',
            type: 'POST',
            data: $('#signup-form').serialize(),
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            dataType: 'html',
            success: function (result) {
                result = JSON.parse(result);
                console.log(result);
                if (result.result === 'success') {
                    alert('회원가입을 완료했습니다.');
                } else {
                    alert('error : ' + result.error);
                }
            }
        });
    }

    function LogIn() {
        $('#login-form').submit();
    }
</script>
